/* 京东首页的css */
.jd{
    height: 480px;
    /* background-color: pink; */
    position: relative;
}
.jd-inner{
    height: 480px;
    /* background-color: skyblue; */
    position: relative;
    z-index: 2;

}
.ad{
    height: 480px;
    background: url(../images/bg.png) no-repeat;
    position: absolute; /* 转换行内块元素 */
    top: 0;
    left: 0px;
    width: 100%;  /*一定要写宽度 */
}
.ad a{
    display: block;
    width: 100%;
    height: 100%;
}
.jd-clo1{
    width: 190px;
    height: 465px;
    background-color: #6E6568;
    float: left;
    padding-top: 15px;
    
}
.jd-clo1 li{
    padding-left: 10px;
    height: 28px;
    line-height: 28px;
    color: #ccc;
   
}
.jd-clo1 li:hover{
    background-color: #999395;
}
.jd-clo1 li a{
    color: #fff;
    font-size: 14px;
}
.jd-clo1 li span{
    color: #fff;
    display: inline-block;
    font-size: 12px;
}

.jd-clo2{
    width: 790px;
    height: 480px;
    /* background-color: salmon; */
    float: left;
    margin-left: 10px;
}
.jd-clo2-hd{
    height: 340px;
    /* background-color: pink; */
    margin-bottom: 10px;
    position: relative;

}
.jd-clo2-bd div{
    width: 390px;
    height: 130px;
    float: left;
}
.jd-clo2-bd div img{
    width: 100%;
}
.firstPic{
    margin-right: 10px;
}
.arrow-l , .arrow-r{
    position: absolute;
    top: 50%;
    margin-top: -30px;
    width: 30px;
    height: 60px;
    background: rgba(0,0,0,.3);
    font-family: "icommoon";
    color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
}
.arrow-l{
    left: 0;
}
.arrow-r{
    right: 0;
}
.jd-clo2-hd ol{
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 20px;
    background: rgba(255,255,255,.3);
    border-radius: 10px;
    padding-left: 0px;
}
.jd-clo2-hd ol li{
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    float: left;
    margin: 4px 5px;
}
.jd-clo2-hd .current{
    background-color:#f10215;
}
.jd-clo3{
    width: 190px;
    height: 480px;
    /* background-color: yellow; */
    float: right;
}
.jd-clo3 a{
    font-size: 12px;
    color: #747474;
}
.user{
    height: 95px;
    background-color: pink;
    padding: 20px 15px 0; 
}


.user-info{
    height: 40px;
    padding-left: 54px;
    font-size: 12px;
    color: #747474;
    line-height: 22px;
    position: relative;
}
.user-info a{
    font-size: 12px;
    color: #747474;
}
.user-info a:hover{
    color: #f10215;
}
.info-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    overflow: hidden;
    
}
.info-img img{
    width: 100%;
    height: auto;
}
.user-profit a{
    width: 68px;
    height: 20px;
    border: 2px solid #f10215;
    display: inline-block;
    font-size: 12px;
    color: #f10215;
    text-align: center;
    line-height: 20px;
    margin-top: 15px;
    margin-left: 4px;
}
.user-profit a:hover{
    color: #fff;
    background-color: #f10215;
}

.news{
    height: 149px;
    /* background-color: purple; */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 5px 15px 0;
}
.tab-hd{
    border-bottom: 1px solid #ccc;
    padding: 3px 0;
    position: relative;
}
.tab-hd a{
    font-size: 12px;
    color: #747474;
    margin: 0 4px;
}
.cuxiao{
    border-right: 1px solid #ccc;
    padding-right: 10px;
}
.news .more{
    position: absolute;
    top: 7px;
    right: 0;
}
.news .line{
    width: 28px;
    height: 2px;
    background-color: #f10215;
    position: absolute;
    bottom: -1px;
    left: 2px;
   
}
.tab-bd {
    margin-top: 10px;
}
.tab-bd li{
    height: 23px;
    line-height: 23px;
}

.jd-service{
    height: 209px;
    /* background-color: skyblue; */
    width: 190px;
    overflow: hidden;
}
.jd-service ul{
    width: 200px;
    height: 210px;
}
.jd-service li{
    width: 47px;
    height: 69px;
    /*   */
    float: left;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.jd-service li a{
    width: 100%;
    height: auto;
    display: block;

}
.jd-service i{
    display: block;
    width: 24px;
    height: 24px;
    margin: 15px auto 8px;
    background: url(../images/sprite_fs@1x.png) no-repeat;
}
.jd-service p{
    text-align: center;
}